i {
  color: crimson;
}

#name {
margin-top: 20px;
margin-left: 2%;
margin-bottom: 0;
margin-right: 2%;
}

#name h1 {
margin: 0px;
font-size: clamp(2rem, 50vw, 5rem);
font-family: 'Ibarra Real Nova', serif;
font-weight: 500;
color: white;
}

#name hr {
margin: 0;
background-color: white;
width: 50%;
height: 0.2%;
}

body {
background-color: black;
margin: 0px;
}

#block {  
align-items: center;
height: 100vh;
width: 100vw;
background-color: rgb(20, 20, 20);
}


#menu {
display: flex;
height: 80vh;
width: 100vw;
}

#menu-items {
margin-left: 2%;
position: relative;
z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern {
background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
background-position: center 60%;
}

#menu-background-pattern {
background-image: linear-gradient(
  rgba(255, 255, 255, 0.05) 9%, 
  transparent 9%
);
background-position: 0% 0%;
background-size: 2vmin 2vmin;
height: 100vh;
left: 0px;
position: absolute;
top: 0px;
transition: opacity 800ms ease, 
  background-size 800ms ease,
  background-position 800ms ease;
width: 100vw;
z-index: 1;
}

#menu-background-image {
background-image: url("anixety.png");
background-position: left 20%;
background-size: 110vmax;
height: 100%;
left: 0px;  
opacity: 0.25;
position: absolute;
top: 0px;
transition: opacity 800ms ease,
  background-size 800ms ease,
  background-position 800ms ease;
width: 100%;
z-index: 0;
}

#menu-items:hover ~ #menu-background-pattern {
background-size: 11vmin 11vmin;
opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
background-size: 100vmax;
opacity: 0.1;
}

#menu-items:hover > .menu-item {
opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
opacity: 1; 
}

.menu-item {
color: white;
cursor: pointer;
display: block;
font-family: 'Ibarra Real Nova', serif;
font-size: clamp(3rem, 8vw, 8rem);
padding: clamp(0.25rem, 0.1vw, 1rem) 0rem;
text-decoration: none;
transition: opacity 400ms ease;
}

@media only screen and (max-width: 600px) {

#name {
  text-align: center;
}

#name hr {
  width: 100%;
}

#name h1 {
  margin: 0px;
  font-size: clamp(2rem, 50vw, 2rem);
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 500;
}

#menu {
  margin-left: 8%;
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: clamp(2.5rem, 8vw, 6rem);
  padding: clamp(1rem, 5vw, 1rem) 0rem;
  text-decoration: none;
  transition: opacity 400ms ease;
  text-align: center;
}

}

